body {
    font-family: Helvetica;
    background-color: rgb(219, 255, 219);
    margin: 0px
  }


#new-item-form {
    /* display: flex;
    flex-direction: row; */
    margin: 30px;
    font-family: 'Schoolbell', cursive;
    color: #278e4d;
}

/* #new-item-form [input] [type] {
    margin: 30px;
    font-family: 'Schoolbell', cursive;
    color: #278e4d;
} */

.header {
    margin: 0px;
    padding: 20px;
    text-align: center;
    background: #278e4d;
    color: white;
    font-size: 30px;
    font-family: 'Schoolbell', cursive;
}

.animals-list {
    /* display: flex;
    flex-direction: row; */
    margin: 30px;
    font-family: 'Schoolbell', cursive;
    color: #278e4d;
}

.submit-button {
    color: rgb(219, 255, 219);
    background-color: #278e4d;
    border-radius: 5px;
    font-family: 'Schoolbell', cursive;
    border: none;
    padding: 5px;
}

.deletebutton {
    color: rgb(219, 255, 219);
    background-color: #278e4d;
    border-radius: 5px;
    font-family: 'Schoolbell', cursive;
    border: none;
    padding: 5px;
}

select {
    width: 25%;
    padding: 8px 12px;
    border-color: #278e4d; 
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
  }

#name {
    width: 25%;
    padding: 8px 12px;
    border-color: #278e4d; 
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
}

#species {
    width: 24%;
    padding: 8px 12px;
    border-color: #278e4d; 
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
}